<form
  class="flex flex-col max-w-[320px] gap-2 flex-1"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <header class="mb-3">
    <pa-heading>Вход</pa-heading>
  </header>
  <div *ngIf="isErrorFound$ | async" class="flex flex-col gap-1">
    <p class="text-red-500" *ngFor="let error of validationErrors$ | async">
      {{ error }}
    </p>
  </div>
  <fieldset class="flex flex-col gap-1">
    <label class="text-gray-200" for="email">Ваш email</label>
    <input
      pa-inputText
      id="email"
      [class]="{
        'border-red-500':
          form.get('email')!.touched && form.get('email')!.invalid
      }"
      type="text"
      formControlName="email"
    />
  </fieldset>
  <fieldset class="flex flex-col gap-1 mt-5">
    <label class="text-gray-200" for="password">Пароль</label>
    <input
      pa-inputText
      id="password"
      type="password"
      [class]="{
        'border-red-500':
          form.get('email')!.touched && form.get('password')!.invalid
      }"
      formControlName="password"
    />
  </fieldset>
  <button pa-button type="submit" pa-size="lg" class="mt-10 self-center w-4/5">
    Вход
  </button>
  <div class="flex flex-col items-center mt-3">
    <p>Нет аккаунта?</p>
    <a class="text-primary" [routerLink]="['/', 'auth', 'register']"
      >Регистрация</a
    >
  </div>
</form>
