<a [routerLink]="['/', 'product', productProp.id]" class="flex gap-2 md:gap-5">
  <div
    class="w-14 h-14 min-[320px]:w-20 min-[320px]:h-20 overflow-hidden rounded-xl shrink-0"
  >
    <img
      [src]="productProp.image"
      [alt]="productProp.name"
      class="w-full h-full object-cover"
    />
  </div>
  <div
    class="flex flex-col gap-1 min-[320px]:gap-2.5 text-xs min-[320px]text-sm md:text-lg"
  >
    <h3 class="font-semibold">{{ productProp.name }}</h3>
    <div class="text-primary">
      {{ productProp.price }}
      <span>₽</span>
    </div>
  </div>
  <div class="flex gap-0.5 min-[300px]:gap-1 md:gap-1.5 ml-auto items-baseline">
    <button
      pa-button
      pa-size="sm"
      pa-appearance="secondary"
      class="w-7 h-7 flex justify-center items-center"
    >
      <ng-icon name="jamMinus"></ng-icon>
    </button>
    <span>1</span>
    <button
      pa-button
      pa-size="sm"
      class="w-7 h-7 flex justify-center items-center"
    >
      <ng-icon name="jamPlus"></ng-icon>
    </button>
    <button
      pa-button
      pa-size="sm"
      pa-appearance="no-border"
      class="w-5 h-5 flex justify-center items-center"
    >
      <ng-icon name="jamClose"></ng-icon>
    </button>
  </div>
</a>
