<a class="rounded-3xl shadow-cardShadow block" routerLink="">
  <div class="max-w-full overflow-hidden rounded-3xl h-[30vh] relative">
    <img class="h-[30vh] w-full object-cover" src="assets/1.png" alt="" />
    <div class="absolute left-5 top-5 bg-white px-3.5 py-1 rounded-full">
      300<span class="text-primary"> ₽</span>
    </div>
    <button
      pa-button
      pa-size="sm"
      class="absolute right-5 top-5 w-9 h-9 flex justify-center items-center border-none"
    >
      <img src="assets/cart.svg" alt="cart" />
    </button>
  </div>
  <div class="relative py-5 px-5">
    <div
      class="absolute bg-white flex gap-0.5 rounded-full py-1 px-2 shadow-sm -top-3.5 left-5"
    >
      4.5
      <img src="assets/star.svg" alt="star" />
    </div>
    <h2 class="text-lg font-semibold">Аццки острая</h2>
    <p class="text-sm text-muted">Острый соус, грибы, помидоры, оливки</p>
  </div>
</a>
