<a
  class="rounded-3xl shadow-cardShadow block"
  [routerLink]="['/', 'product', productProp.id]"
>
  <div class="max-w-full overflow-hidden rounded-3xl h-[30vh] relative">
    <img
      class="h-[30vh] w-full object-cover"
      [src]="productProp.image"
      [alt]="productProp.name"
    />
    <div class="absolute left-5 top-5 bg-white px-3.5 py-1 rounded-full">
      {{ productProp.price }}<span class="text-primary"> ₽</span>
    </div>
    <button
      (click)="onCardAdd($event)"
      pa-button
      pa-size="sm"
      class="absolute right-5 top-5 w-9 h-9 flex justify-center items-center border-none"
    >
      <ng-icon name="jamShoppingCart"></ng-icon>
    </button>
  </div>
  <div class="relative py-5 px-5">
    <div
      class="absolute bg-white flex gap-0.5 rounded-full py-1 px-2 shadow-sm -top-3.5 left-5 items-center"
    >
      {{ productProp.rating }}
      <ng-icon name="jamStarF" class="text-orange-400"></ng-icon>
    </div>
    <h2 class="text-lg font-semibold">{{ productProp.name }}</h2>
    <p class="text-sm text-muted">{{ productProp.ingredients.join(', ') }}</p>
  </div>
</a>
