<div class="flex flex-col gap-5 max-w-[500px]">
  <header class="flex flex-col gap-2 md:flex-row md:justify-between">
    <pa-heading>Корзина</pa-heading>
  </header>
  <div class="flex flex-col gap-5">
    <div *ngIf="isLoading$ | async">Загрузка</div>
    <div *ngIf="isError$ | async">Ошибка загрузки</div>
    <div *ngIf="(data$ | async)?.length === 0">Нет товаров</div>
    <pa-cart-product-cart
      *ngFor="let product of data$ | async"
      [product]="product"
    ></pa-cart-product-cart>
  </div>
  <div class="relative flex flex-col gap-2 md:justify-center">
    <input
      pa-inputText
      type="text"
      placeholder="Промокод"
      class="py-[12px] rounded-full w-full md:py-5"
      name=""
      id=""
    />
    <button pa-button class="md:absolute md:right-2">Применить</button>
  </div>
  <div>
    <div
      class="flex justify-between py-3 font-normal border-b text-lg border-b-separator"
    >
      Итог
      <span>
        {{ sum$ | async }}
        <span class="text-muted font-light text-base">₽ </span>
      </span>
    </div>
    <div
      class="flex justify-between py-3 font-normal border-b text-lg border-b-separator"
    >
      Доставка
      <span>
        {{ deliveryPrice }}
        <span class="text-muted font-light text-base">₽ </span>
      </span>
    </div>
    <div
      class="flex justify-between py-3 font-normal text-lg border-b-separator"
    >
      <div>
        Итог
        <span class="text-sm font-light text-gray-400"
          >({{ count$ | async }})</span
        >
      </div>
      <span>
        {{ totalPrice$ | async }}
        <span class="text-muted font-light text-base">₽ </span>
      </span>
    </div>
  </div>
  <div *ngIf="!(isLoginIn$ | async); else checkoutButton" class="text-center">
    Для оформления заказа неоходимо
    <a
      class="text-primary"
      [routerLink]="['/', 'auth', 'login']"
      [queryParams]="{redirectTo: 'cart'}"
    >
      Войти</a
    >
    или
    <a
      class="text-primary"
      [routerLink]="['/', 'auth', 'register']"
      [queryParams]="{redirectTo: 'cart'}"
      >Зарегистрироваться</a
    >
  </div>
  <ng-template #checkoutButton>
    <button
      (click)="checkout()"
      pa-button
      pa-size="lg"
      class="md:self-center md:min-w-[230px] text-sm md:text-md"
    >
      Оформить
    </button>
  </ng-template>
</div>
