<div class="flex h-full flex-col items-center py-5 gap-5 md:p-8 md:items-start">
  <pa-avatar imgUrl="assets/user.png" name="sergey razuvaev"></pa-avatar>
  <div class="hidden md:block">
    <h3 class="font-semibold text-xl">Сергей Разуваев</h3>
    <p class="text-[#9ea1b1] text-sm">serg@ya.ru</p>
  </div>
  <nav class="flex gap-5 flex-col">
    <a
      [routerLink]="['']"
      routerLinkActive="link_active"
      [routerLinkActiveOptions]="{exact: true}"
      class="link"
    >
      <ng-icon name="jamDocument" class="link__icon"></ng-icon>
      <span class="link__title">Меню</span>
    </a>
    <a
      [routerLink]="['cart']"
      class="link relative"
      routerLinkActive="link_active"
    >
      <ng-icon name="jamShoppingCart" class="link__icon"></ng-icon
      ><span class="link__title">Корзина</span>
      <span class="link__cart-count" *ngIf="count$ | async">{{
        count$ | async
      }}</span>
    </a>
    <a
      [routerLink]="['/', 'auth', 'login']"
      class="link"
      routerLinkActive="link_active"
    >
      <ng-icon name="jamUserCircle" class="link__icon"></ng-icon
      ><span class="link__title">Логин</span>
    </a>
    <a
      [routerLink]="['/', 'auth', 'register']"
      class="link"
      routerLinkActive="link_active"
    >
      <ng-icon name="jamUserPlus" class="link__icon"></ng-icon
      ><span class="link__title">Регистрация</span>
    </a>
  </nav>
  <button
    pa-button
    pa-size="sm"
    class="flex mt-auto items-center gap-2 p-1.5 md:!pl-2 md:!pr-3 md:!py-2"
  >
    <ng-icon name="jamPower" size="30px"></ng-icon>
    <span class="hidden md:block">Выйти</span>
  </button>
</div>
